@page "/admin"
@using System.Net.NetworkInformation
@using System.Net.Sockets;
@rendermode InteractiveServer

<h3>QR-Code Generator</h3>
<button @onclick="GenerateQr">Neuen QR erstellen</button>

@if (!string.IsNullOrEmpty(QrCodeBase64))
{
    <img src="@QrCodeBase64" />
}

<button @onclick="Test">Test</button>

@code {
    private string QrCodeBase64 = "";

    private void GenerateQr()
    {
        var token = Guid.NewGuid().ToString();

        Console.WriteLine(token);

        // Token in DB speichern
        var qrToken = new QrToken(token, false);

        DatenbankLib.QrToken.AddQrToken(qrToken);

        //Server-IP
        string serverIp = NetworkInterface.GetAllNetworkInterfaces()
            .Where(n =>
                n.OperationalStatus == OperationalStatus.Up &&
                n.NetworkInterfaceType != NetworkInterfaceType.Loopback)
            .SelectMany(n => n.GetIPProperties().UnicastAddresses)
            .First(a => a.Address.AddressFamily == AddressFamily.InterNetwork)
            .Address
            .ToString();

        // QR-Code-Text = URL mit Token
        var qrUrl = $"http://{serverIp}:5432/login/{token}";

        // QR generieren
        using var qrGenerator = new QRCoder.QRCodeGenerator();
        var qrData = qrGenerator.CreateQrCode(qrUrl, QRCoder.QRCodeGenerator.ECCLevel.Q);
        using var qrCode = new QRCoder.QRCode(qrData);
        using var bitmap = qrCode.GetGraphic(20);

        using var ms = new MemoryStream();
        bitmap.Save(ms, System.Drawing.Imaging.ImageFormat.Png);
        QrCodeBase64 = $"data:image/png;base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private void Test()
    {
        DatenbankLib.Project.CalculatePublikumsvoting();
    }
}