@page "/admin"
@rendermode InteractiveServer

<h3>QR-Code Generator</h3>
<button @onclick="GenerateQr">Neuen QR erstellen</button>

@if (!string.IsNullOrEmpty(QrCodeBase64))
{
    <img src="@QrCodeBase64" />
}

<button @onclick="Test">Test</button>

@code {
    private string QrCodeBase64 = "";

    private void GenerateQr()
    {
        var token = Guid.NewGuid().ToString();

        Console.WriteLine(token);

        // Token in DB speichern
        var qrToken = new QrToken(token, false);

        DatenbankLib.QrToken.AddQrToken(qrToken);

        // QR-Code-Text = URL mit Token
        //var qrUrl = $"http://localhost:5432/login/{token}";
        //var qrUrl = $" http://10.137.192.6:5432/login/{token}"; //Hotspot
        var qrUrl = $" http://172.17.10.54:5432/login/{token}"; //Schule PC: E2C14
        //var qrUrl = $" http://192.168.178.49:5432/login/{token}";   //Home

        // QR generieren
        using var qrGenerator = new QRCoder.QRCodeGenerator();
        var qrData = qrGenerator.CreateQrCode(qrUrl, QRCoder.QRCodeGenerator.ECCLevel.Q);
        using var qrCode = new QRCoder.QRCode(qrData);
        using var bitmap = qrCode.GetGraphic(20);

        using var ms = new MemoryStream();
        bitmap.Save(ms, System.Drawing.Imaging.ImageFormat.Png);
        QrCodeBase64 = $"data:image/png;base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private void Test()
    {
        // OpenFileDialog ofd = new OpenFileDialog();
        // ofd.Filter = "CSV-Datei|*.csv|Textdatei|*.txt|AnyFile|*.any";
        // ofd.Title = "Eine TXT, CSV oder ANY Datei auswählen";
        // ofd.InitialDirectory = Application.StartupPath;

        // DialogResult result = ofd.ShowDialog();
        // if (result == DialogResult.OK)
        // {
        //     string fileName = ofd.FileName;
        //     txtFileName.Text = fileName;
        //     txtText.Text = File.ReadAllText(fileName);
        //     originalText = txtText.Text;
        //     MessageBox.Show("file loaded");
        // }
    }
}