@page "/"
@rendermode InteractiveServer

<h1>Friends Of Award</h1>

<h2>Geben Sie uns Ihre persönlichen Favoriten bekannt!</h2>
<h2>Einfacher Klick = Favorit (max. 5)</h2>
<h2>Doppelklick = Topfavorit (max. 1)</h2>
<h3>Diese Abstimmung ist anonym und auf ein Gerät beschränkt.</h3>

<div class="buttons">
	@foreach(int index in Enumerable.Range(0, selectableButtons.Count))
	{
		var selectableButton = selectableButtons[index];
		<button @onclick="() => ChangeButtonValue(index)" 
		class="@(selectableButton.Item2 == 1 ? "favorite" : selectableButton.Item2 == 2 ? "topfavorite" : "")">
		@(index+1)</button>
	}
</div>
<label></label>
<p><button>Bewertung absenden</button></p>


@code {
	List<(string, int)> selectableButtons = new();

	protected override Task OnInitializedAsync()
	{
		for (int i = 0; i < 20; i++)
		{
			selectableButtons.Add(($"selectedButton{i + 1}", 0));
		}

		return base.OnInitializedAsync();
	}

	private void ChangeButtonValue(int btnIndex)
	{
		var button = selectableButtons[btnIndex];
		int newValue = button.Item2 < 2 ? button.Item2 + 1 : 0;
		selectableButtons[btnIndex] = (button.Item1, newValue);
	}
}