@page "/login/{Token}"

@rendermode InteractiveServer
@inject NavigationManager MyNavMgr
@inject MyCustomAuthStateProvider MyAuthProvider

<div class="login-container">
    <div class="login-card text-center">
        <img src="images/logo.png" alt="Logo" class="login-logo mb-4" />

        <h1 class="mb-4">FriendsOfAward</h1>

        <p style="color: red">@message</p>
    </div>
</div>

@code {
    [Parameter]
    public string Token { get; set; } = "";

    string message = "";

    protected override async Task OnInitializedAsync()
    {
        if (QrToken.CheckTokenExits(Token) == false)
        {
            message = "Token existiert nicht";
        }
        else if (QrToken.CheckTokenUsed(Token) == true)
        {
            message = "Token schon verwendet ";
        }
        else
        {
            MyAuthProvider.Login(Token);
            MyNavMgr.NavigateTo("/Home");
        }
    }
}
