@page "/"

@rendermode InteractiveServer
@inject MyCustomAuthStateProvider MyAuthProvider
@inject NavigationManager MyNavMgr

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<input @bind="email" placeholder="E-Mail" />
<input @bind="password" placeholder="Passwort" type="password" />
<button @onclick="HandleLogin">Login</button>

<p style="color: red">@message</p>

@code {
    string email = "";
    string password = "";
    string message = "";

    void HandleLogin()
    {
        if (IsValidUser(email, password))
        {
            MyAuthProvider.Login(email);
            MyNavMgr.NavigateTo("/admin");
        }
        else
        {
            message = "Login fehlgeschlagen.";
        }
    }

    bool IsValidUser(string email, string password)
    {
        return DatenbankLib.Admin.CheckAdminLogin(email, password);
    }
}
